.heading {
background: #4aaaa5;
font-family: 'Georgia', Times, Times New Roman, serif;
height: 90px;
}
nav {
float: right;
}
body {
background-color: #ffffff;
width: 960px;
margin: 0 auto;
padding: 0;
line-height: 150%
}
.container {
width: 650px;
border: 2px;
border-style: solid;
border-color: #ddd;
background: #ffffff;
}
#photo {
width: 25%;
height: 25%;
}
#bio {
float: right;
width: 50%;
}
aside {
border: 2px
border-color: #ddd;
border-style: solid;
text-align: center;
width: 270px;
}
#contact-area {
float: right;
width: 270px;
height: 180px;
background-color: #fff;
margin: 5px;
margin-bottom: 75%;
}
#imageBox {
margin: 0 10px 0 10px;
float: right;
}
#imageBox img {
float: right;
height: 60px;
width: 60px;
margin: 8px;
padding: 0;
}
footer {
bottom: 0px;
height: 90px;
width: 100%;
text-align: center;
margin: 20px 0 0 0 ;
background-color: #666;
border-top: 6px;
border-style: solid;
border-color: #4aaaa5;
color: white;
}
.contactContainer {
width: 650px;
border: 2px;
border-style: solid;
border-color: #ddd;
background: #ffffff;
}